# Ejercicio 1: Transformar cadenas

In [53]:
# Divide el texto

print("\nDivición del texto en cada oración")
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_parts = text.split('. ')
text_parts

Divición del texto en cada oración

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [54]:
# Define las palabras pista: average, temperature y distance suenan bien
print("\nDefinir las palabras pista: average, temperature y distance")
key_words = ["average", "temperature", "distance"]
key_words

Definir las palabras pista: average, temperature y distance

['average', 'temperature', 'distance']

In [55]:
# Ciclo for para recorrer la cadena
print("\nCiclo for para recorrer la cadena")
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

Ciclo for para recorrer la cadena
On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [56]:
# Ciclo para cambiar C a Celsius
print("\nCambiar C por Celsius")
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))

Cambiar C por Celsius
On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2: Formateando Cadenas

In [57]:
# Datos con los que vamos a trabajar
print("\nDatos con los que vamos a trabajar.")
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth" 
print (f"Name: {name}")
print (f"Gravity: {gravity}")
print (f"Planet: {planet}")

Datos con los que vamos a trabajar.
Name: Moon
Gravity: 0.00162
Planet: Earth

In [58]:
# Datos sobre la gravedad de Ganímedes
# Creamos el título
print("\nCreación de titulo.")
nombre = "Ganímedes"
title = (f"Datos de la gravedad de {nombre}")
title

Creación de titulo.

'Datos de la gravedad de Ganímedes'

In [59]:
# Creamos la plantilla
hechos = f"""{'-'*80} Nombre del planeta: {planeta} Gravedad en {nombre}: {gravedad * 1000} m/s2 """
# Unión de ambas cadenas
template = f"""{title.title()} {hechos} """
print (hechos)

-------------------------------------------------------------------------------- Nombre del planeta: Saturno  Gravedad en Ganímedes: 10.44 m/s2

In [60]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
hechos = f"""{'-'*80} Nombre del planeta: {planeta} Gravedad en {nombre}: {gravedad * 1000} m/s2 """
# Comprobamos la plantilla
print(hechos)

-------------------------------------------------------------------------------- Nombre del planeta: Marte  Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [61]:
# Pista: print(nueva_plantilla.format(variables))
planeta = 'Saturno '
gravedad  = 0.01044
nombre = 'Titán'
new_template = f""" {'-'*80} Nombre del planeta: {planeta} Gravedad en {nombre}: {gravedad * 1000} m/s2 """
new_template

' -------------------------------------------------------------------------------- Nombre del planeta: Saturno  Gravedad en Titán: 10.44 m/s2 '